{% extends 'main.html' %}
{% load static %}
{% load blog_extras %}

{% block content %}
    <h3>Index Page</h3>
    <button><a href="{% url 'create' %}">create a blog post</a> </button>

    {% for post in posts %}
    <div>
        <section>
            <h4 ><a href="{% url 'blog' post.id %}">{{ post.title}}</a></h4>
            <div>
                <p>
                    {{ post.content | convert_markdown | safe }}
                </p>
            </div>
            <span>{{ post.date_published }}</span>
            <span>{{ post.author }}</span>
        </section>
    </div>
    {% endfor %}
{% endblock %}
