*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    line-height: 26px;
    background-color: #ffffff;
    font-family: 'Roboto' , serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(66, 158, 233, 0.938);
    color: #fff;
    height: 60px;
}
.nav-links a{
    color: #fff;
}
.logo{
    font-size: 32px;
}
.logo .menu{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.menu{
    font-size: 15px;
}
.menu li{
    float: left;
    padding: 5px 14px;
}
.menu li:hover{
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
/* Responsive navbar */
input[type=checkbox]{
    display: none;
}
.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 500px) {
.menu {
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}

.menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
}

.menu li + li {
    margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu {
    display: block;
    }

    .hamburger {
    display: block;
    }

    .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
    }

    .dropdown li:hover {
    background-color: #4c9e9e;
    }
}
